#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
    z-index: 10000;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
    z-index: 10000;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
    z-index: 10000;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        z-index: 10000;
    }

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    padding: 3px 11px 3px 11px;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 5px;
    z-index: 100000;
}

    #pac-input:focus {
        border-color: #4d90fe;
        z-index: 10000;
    }

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}
