@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="row">
    <div class="col-md-6">
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Book a rider</h5>
                <p class="card-text">Pin your current location in the map and we will find you a nearby rider.</p>
                <a href="booking" class="btn btn-sm btn-primary">Book now!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Find a passenger</h5>
                <p class="card-text">Need extra income? They may need your ride today, pick them up!</p>
                <a href="#" class="btn btn-sm btn-primary">Ride now!</a>
            </div>
        </div>

    </div>
</div>