@inherits LayoutComponentBase


<MudLayout>
    <MudContainer Style="height:93vh;margin:0;padding:0;overflow-x:hidden;">
        <div style="padding-bottom:15vh;">
            @Body
        </div>
        <MudScrollToTop Style="margin-bottom:7vh;">
            <MudFab Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowUpward" />
        </MudScrollToTop>
    </MudContainer>
    <_BottomNavBar />
</MudLayout>
@code {
    

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}
